<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/material-icons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated-textbox-1.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated-textbox.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Codeblock.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom_annotate.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Drag--Drop-Upload-Form.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Features-Blue.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Footer-Basic.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Navigation-Clean.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/PJansari---Horizontal-Stepper.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/steps-progressbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/annotorious.min.css')}}">
    

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
        <div class="container"><a class="navbar-brand pulse animated fw-bold" href="#">FROZENWOLF</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item menu"><a class="nav-link " href="{{ url_for('home') }}" style="border-top-color: rgb(70,;border-right-color: 87,;border-bottom-color: 101);border-left-color: 87,;">HOME</a></li>
                    <li class="nav-item menu"><a class="nav-link " href="{{ url_for('upload') }}" style="border-top-color: rgb(70,;border-right-color: 87,;border-bottom-color: 101);border-left-color: 87,;">CONVERT</a></li>
                    <li class="nav-item menu"><a class="nav-link active" href="{{ url_for('upload_annotate') }}" style="border-top-color: rgb(70,;border-right-color: 87,;border-bottom-color: 101);border-left-color: 87,;">ANNOTATE</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="feature_h custom_pos_h">ANNOTATE</h1>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col custom_progress">
                                <div class="md-stepper-horizontal green">
                                    <div class="md-step active" onclick="gotoannotate()">
                                        <div class="md-step-circle green progress-icon"><i class="material-icons size-icon-progess">file_upload</i></div>
                                        <div class="md-step-title progress-icon"><span>Upload</span></div>
                                        <div class="md-step-bar-right"></div>
                                        <div class="md-step-bar-right"></div>
                                    </div>
                                    <div class="md-step active">
                                        <div id = "annotate"  class="md-step-circle orange progress-icon"><i class="material-icons size-icon-progess">edit</i></div>
                                        <div class="md-step-title progress-icon"><span>Annotate<br></span></div>
                                        <div class="md-step-bar-left"></div>
                                        <div class="md-step-bar-right"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="upload_sec_pos">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="feature_h ">SENTENCE ANNOTATE</h1>
                    </div>
                    <div class="col col-6 limit">
                        <div class="custom_codeblock" contenteditable="false"><pre class="codeblock">
                            <span id = "sentence_output">
                                {
                                "form": [
                                {
                                    "id": 0,
                                    "text": "Registration No.",
                                    "box": [94,169,191,186],
                                    "linking": [
                                        [0,1]
                                    ],
                                    "label": "question",
                                    "words": [
                                        {
                                            "text": "Registration",
                                            "box": [94,169,168,186]
                                        },
                                        {
                                            "text": "No.",
                                            "box": [170,169,191,183]
                                        }
                                    ]
                                },
                              
                            ]
                            }
<code></pre></code></div>
                    </div>
                    <div class="col col-6 limit-img">
                        <img class = "limit-img" class = "limit" id = 'sentence_target'>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="feature_h custom_pos_h">WORD ANNOTATE</h1>
                        </div>
                        <div class="col col-6 limit">
                            <div class="custom_codeblock" contenteditable="false"><pre class="codeblock">
                                <span id = "word_output">
                                    {
                                    "form": [
                                    {
                                        "id": 0,
                                        "text": "Registration No.",
                                        "box": [94,169,191,186],
                                        "linking": [
                                            [0,1]
                                        ],
                                        "label": "question",
                                        "words": [
                                            {
                                                "text": "Registration",
                                                "box": [94,169,168,186]
                                            },
                                            {
                                                "text": "No.",
                                                "box": [170,169,191,183]
                                            }
                                        ]
                                    },
                                  
                                ]
                                }
    <code></pre></code></div>
                        </div>
                        <div class="col col-6">
                            <img class = "limit-img" id = 'word_target'>
                        </div>
                    </div>
            </div>
            <div class="container custom_pos_scroll">
                <div class="row">
                    <div class="col-md-6">
                        <div class="next_btn"><button onclick="gotoannotate()" class="btn btn-primary content_scale"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-upload">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                    <polyline points="7 9 12 4 17 9"></polyline>
                                    <line x1="12" y1="4" x2="12" y2="16"></line>
                                </svg><span class="fw-bold">NEW UPLOAD</span></button></div>
                    </div>
                    <div class="col-md-6">
                        <div class="next_btn"><button onclick="download_txt();" class="btn btn-primary content_scale"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-download">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                    <polyline points="7 11 12 16 17 11"></polyline>
                                    <line x1="12" y1="4" x2="12" y2="16"></line>
                                </svg><span class="fw-bold">DOWNLOAD</span></button></div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <footer class="footer-basic">
        <div class="social"><a href="https://github.com/FrozenWolf-Cyber"><i class="icon ion-social-github"></i></a><a href="https://www.instagram.com/frozenwolf2003/"><i class="icon ion-social-instagram"></i></a><a href="https://twitter.com/FrozenW17210314"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/FrozenWolf2003/"><i class="icon ion-social-facebook"></i></a></div>
    </footer>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/annotorious.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/annotorious.umd.js.map')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/annotate.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/navigator.js')}}"></script>

    <script type="text/javascript">

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      if (document.referrer !== document.location.href) {
   setTimeout(function() {
       document.location.reload()
 }, 200);
}
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();


        </script>
        
</body>

</html>